<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
   <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
   <p><%= restaurant.category  %></p>
  </li>
</ul>

<% end %>
